@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
p,
label {
  user-select: none;
}

body {
  touch-action: pan-x pan-y;
}

.transition-height {
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.my-btn {
  transition: all 0.3s ease;
  transform: scale(1);
  user-select: none;
}

.my-btn:active {
  transform: scale(0.95);
}

.bg-gradient {
  background-image: linear-gradient(to right, #f59e0b, #b45309);
}

.bg-gradient-normal {
  background-image: linear-gradient(to right, white, white);
}

.bg-gradient-single {
  background-image: linear-gradient(to right, white, #fef3c7);
}

.bg-gradient-double {
  background-image: linear-gradient(to right, #fef3c7, #fde68a);
}

.bg-gradient-triple {
  background-image: linear-gradient(to right, #fef3c7, #fcd34d);
}
