@tailwind base;
@tailwind components;
@tailwind utilities;

.my-btn {
  transition: all 0.3s ease;
  transform: scale(1);
  user-select: none;
}

.my-btn:active {
  transform: scale(0.9);
}

.bg-gradient {
  background-image: linear-gradient(to right, #f59e0b, #b45309);
}

.bg-gradient-02 {
  background-image: linear-gradient(to right, #fef9c3, white);
}

.text-gradient-01 {
  background: linear-gradient(to right, #78350f, #b45309);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-02 {
  background: linear-gradient(to right, #f59e0b, #92400e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
